@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arima', arial, sans-serif;
    font-size: medium;
    background-color: #BC6C25;
    padding: 0px;
}

#pitico-pet-banner {
    width: 100%;
    height: auto;
}

main {
    margin: 0 60px;
    padding: 40px;
    background-color: #FEFAE0;
    text-align: center;
}

h1 {
    color: #BC6C25;
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    color: #BC6C25;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    color: #BC6C25;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}

p {
    color: #CD8742;
    margin: 10px;
    text-align: justify;
    font-size: 17px;
}

strong {
    color: #BC6C25;
}

a {
    color: #BC6C25;
}

a:hover {
    text-decoration: dashed;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: #BC6C25;
    text-decoration: none;
    font-size: 20px;
}

nav ul li.selecionado {
    font-weight: bold;
}

#menu-nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
}

.diferenciais {
    flex: 1 1 calc(33.33% - 20px); 
    margin: 10px;
    padding: 20px; 
    border-radius: 20px;
    background-color: #BC6C25;
    box-sizing: border-box; 
}

.texto-dos-diferenciais {
    margin: 5px;
    text-align: justify;
    color: #FEFAE0;
}

.negrito-dos-diferenciais {
    margin: 5px;
    text-align: center;
    color: #FEFAE0;
}

figure {
    text-align: center;
    margin: 20px;
}

figcaption {
    font-size: 15px;
    color: #DDA15E;
}

footer {
    color: #BC6C25;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#listinha-footer {
    list-style: none;
    display: flex;
    justify-content: center;
}

#listinha-footer li {
    margin: 15px;
}

@media (max-width: 768px) {
    main {
        margin: 20px;
        padding: 20px;
    }

    #menu-nav {
        flex-direction: column;
    }

    #menu-nav li {
        margin: 10px 0;
    }

    .container {
        flex-direction: column;
    }

    .produto {
        width: 100%;
    }

    .negrito-dos-produtos {
        font-size: 22px;
    }

    .texto-dos-produtos {
        font-size: 15px;
    }

    .img-produto {
        width: 100%;
        height: auto;
    }

    .diferenciais {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    main {
        margin: 40px;
    }

    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .produto {
        width: 48%;
    }

    #diferenciais-container {
        flex-direction: row;
    }

    .diferenciais {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (min-width: 1025px) {
    main {
        margin: 60px;
    }

    .container {
        flex-direction: row;
    }

    .produto {
        width: 48%;
    }

    #diferenciais-container {
        flex-direction: row;
    }

    .diferenciais {
        flex: 1 1 calc(50% - 20px);
    }

    .img-produto {
        max-width: 100%;
    }

    footer {
        padding: 20px;
    }
}