@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

#pitico-pet-banner {
    width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: #BC6C25;
    text-decoration: none;
    font-size: 20px;
}

nav ul li.selecionado {
    font-weight: bold;
}

#menu-nav a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Arima', arial, sans-serif;
    font-size: medium;
    background-color: #BC6C25;
}

main {
    margin: 0 60px;
    padding: 40px;
    background-color: #FEFAE0;
    text-align: center;
}

h1 {
    text-align: center;
    color: #BC6C25;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #CD8742;
    margin: 10px;
    text-align: justify;
    font-size: 17px;
    font-weight: bold;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #CD8742;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #BC6C25;
    color: #FEFAE0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #CD8742;
}

footer {
    color: #BC6C25;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

#listinha-footer {
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

#listinha-footer li {
    flex-direction: column;
    margin: 15px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px; 
    }

    nav ul li a {
        font-size: 18px; 
    }

    p {
        font-size: 15px; 
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 24px; 
    }

    nav ul li a {
        font-size: 16px; 
    }

    p {
        font-size: 14px; 
    }

    footer {
        font-size: 16px; 
    }
}